<h1>Pages#home</h1>


<p><%= link_to "See what NGOs are around you", organisations_path %></p>
<p><%= link_to "CLASSPASS: Lesson avaiable starting now! Don't forget to sign up", workshops_path %></p>
<p><%= link_to "Feeling good? Create your first workshop", new_organisation_path %></p>
<p><%= link_to "Finish off with your OWN classpass", new_workshop_path %></p>

<br>
<br>
<h2>Profile and friends</h2>
<br>
<p><%= link_to "YOU", user_path(current_user) %></p>
<p><%= link_to "Find Friends", users_path %></p>



